
extends list

block content
	br
	-var p = parseInt(page);
	-var pre  = (p>0)?(p-1):0;
	-var next = p+1;
	-var k = " 第 "+p+" 页 ";
	tr
		td
			a(href=base+"&page="+pre)
				button 上一页
		td=k
		td		
			a(href=base+"&page="+next)
				button 下一页
	div.div-table
		div.div-table-row
			div.div-table-col 用户
			div.div-table-col 金币
			div.div-table-col 徒弟
			div.div-table-mid-col 登陆时间		
			div.div-table-mid-col 地区/ip
			div.div-table-col 状态
			div.div-table-col 操作 

		each item in users
			div.div-table-row
				div(id=item.user_id,onclick="javascript:userStat(this);").div-table-col
					a=item.user_id
				div.div-table-col=item.coin
				div.div-table-col
					a(href="/admin/user/list?ask_code="+item.user_id+"&page=0")=item.pupil_num
				div.div-table-mid-col=item.last_login
				div(id="?ip="+item.client_ip,onclick="javascript:listLogin(this);").div-table-mid-col
					a=item.location+"(同IP段信息)"

				div.div-table-col=item.status
				div.div-table-col 
					button(id=item.user_id,type="button",style="width:60px;",onclick="javascript:userStat(this);") 详情 
				
block scripts
	script(src='/vendor/jquery.min.js').
	script(src='/vendor/jquery.form.js').
	script(src="/vendor/layer/layer.min.js").
	script(src='/js/views/layers.js').

